body{
    font-family: 'montserrat', sans-serif;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
.converter-container{
    max-width: 600px;
    margin: auto;
    color: #333;
    position: relative;
}
.converter-container .response{
    position: absolute;
    width: 100%;
    z-index: 99;
}
.file-selection-space{
    width: 100%;
    background: #eee;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    position: relative;
}
.file-selection-space .upload-items .upload-item{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
}
.upload-item .upload-item-detail{
    position: relative;
    word-wrap: anywhere;
}
.upload-item .upload-item-detail p{
    display: none;
}
.upload-item ul li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}
.upload-item ul li:hover{
    opacity: .6;
}
.upload-item ul li:nth-child(1) , .upload-item ul li:nth-child(3){
    cursor: pointer;
}
.upload-item ul li:nth-child(2) , .upload-item ul li:nth-child(3), .conversion-success-responce{
    display: none;
}
.file-uploader-space{ 
    position: relative;
    bottom: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    min-height: 70px;
    text-align: center;
}
.file-uploader-space input[type=file]{
    display: none;
}
.file-uploader-space label, .multiple-download-option button i{
    cursor: pointer;
    color: #9b9b9b;
}
.fa-check{
    color: green;
}
.fa-download{
    color: #333;
}

.loading-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bar {
    background-color: rgb(164, 164, 252);
    min-width: 100%;
    min-height: 5px;
    position: relative;
    overflow: hidden;
  }
  .bar::after {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 4s infinite;
  }
  .bar::before {
    content: "";
    min-height: 5px;
    position: absolute;
    background: #fff;
    transform: translateX(-100%);
    animation: animate 4s infinite;
    animation-delay: 1s;
  }
  @keyframes animate {
    0% {
      transform: translateX(-150%);
      min-width: 100px;
    }
    100% {
      transform: translateX(300%);
      min-width: 400px;
    }
  }
  